<footer id="footer" class="container-fluid bg-faded">
	<div class="row slideanim">
		<div class="col-12 col-sm-2 offset-sm-5 col-md-2 offset-md-5 col-lg-2 offset-lg-5 col-xl-2 offset-xl-5 text-center">
			<a class="arrowUpLink" href="#home"><i class="fa fa-arrow-circle-up fa-4x" aria-hidden="false"></i></a>
		</div>
	</div>
	<div class="row paddingTopCopy slideanim">
		<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
			<p class="text-center">© By D. Schaufelberger</p>
		</div>
	</div>
</footer>

