<article id="kontakt" class="container-fluid bg-faded">
    <h2 class="text-center">KONTAKT</h2>
    <p class="text-center"><em>Deine Meinung ist wichtig!</em></p>
    <div class="row test slideanim">
        <section class="col-md-4">
            <p>Schreib uns;</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>
            St.Gallen, CH</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>
            Telefon: +41 79 4445566</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>
            Email: mail@mail.com</p>
        </section>
        <section class="col-md-8">
            <div class="row slideanim">
                <div class="col-sm-6 form-group">
                    <input class="form-control left" id="name" name="name" placeholder="Name" type="text" required     >       
                </div>      
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Mitteilung..." rows="5"></textarea>
            <div class="row padding-Top-Submit slideanim">
                <div class="col-4 offset-3 col-sm-4 offset-sm-4 col-md-4 offset-md-1 col-lg-4 offset-lg-2 col-xl-4 offset-xl-2 form-group">
                    <button class="btn submit-kontakt" type="submit">Abschicken</button>
                </div>
            </div>
        </section>
    </div>
 </article>