<article id="service" class="container-fluid text-center">
  <h2>SERVICE</h2>
  <h4>Unser Angebot</h4>
  <br>
  <div class="row">
    <section class="col-sm-4 slideanim">
      <i class="fa fa-power-off fa-4x" aria-hidden="true"></i>
      <h4>LEISTUNG</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
    <section class="col-sm-4 slideanim">
      <i class="fa fa-heart fa-4x" aria-hidden="true"></i>
      <h4>HERZ</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
    <section class="col-sm-4 slideanim">
      <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
      <h4>SICHERHEIT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
    </div>
    <br><br>
  <div class="row">
    <section class="col-sm-4 slideanim">
      <i class="fa fa-leaf fa-4x" aria-hidden="true"></i>
      <h4>UMWELT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
    <section class="col-sm-4 slideanim">
      <i class="fa fa-certificate fa-4x" aria-hidden="true"></i>
      <h4>ZERTIFIZIERT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
    <section class="col-sm-4 slideanim">
      <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
      <h4>HARTE ARBEIT</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </section>
  </div>
</article>