<nav id="navbar" class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#home">Dimi's Website</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#impressum">IMPRESSUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#kontakt">KONTAKT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lebenslauf">LEBENSLAUF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#carouselExampleIndicators">BILDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#video">VIDEO</a>
      </li>
    </ul>
  </div>
</nav>
<app-home></app-home>
<app-impressum></app-impressum>
<app-kontakt></app-kontakt>
<app-service></app-service>
<app-lebenslauf></app-lebenslauf>
<app-img></app-img>
<app-video></app-video>
<app-footer></app-footer>