/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/stylesheets/_font-awesome.scss";

#impressum, #service, #lebenslauf {
  //padding-top: 15%;
  //padding-top: 6rem;
  padding-top: 6em;
  margin-bottom: 3.5em;
  //padding-top: 96px;
}
#impressum, #footer {
  background-color: black;
  color: white;
}
.caption2 {
  padding-bottom: 15rem;
  color: white;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .caption2 {
    padding-bottom: 35rem;
    color: white;
  }
}
.padding-Top {
  padding-top: 2em;
}

.paddingTopCopy {
  padding-top: 1em;
}
body {
  font: 400 15px/1.8 Lato, sans-serif;
}
html {
  font-size: 12px !important;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px !important;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px !important;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 18px !important;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 19px !important;
  }
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1;
    /* Make the element visible */
    visibility: visible;
    }
@include media-breakpoint-up(lg) {
    .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
    }
}
@include media-breakpoint-up(xl) {
    .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
    }
}
@include media-breakpoint-up(md) {
    .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
    }
}
@include media-breakpoint-up(sm) {
    .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    /* Make the element visible */
    visibility: visible;
    }
}
@include media-breakpoint-down(sm) {
    .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    /* Make the element visible */
    visibility: visible;
    }
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}