/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/stylesheets/_font-awesome.scss";

#impressum, #service, #lebenslauf {
  //padding-top: 15%;
  //padding-top: 6rem;
  padding-top: 6em;
  padding-bottom: 3.5em;
  //padding-top: 96px;
}

#footer {
  padding-bottom: 3.5em;
}

#kontakt {
  padding-top: 6em;
  padding-bottom: 5em;
}

#impressum, #footer {
  background-color: black;
  color: white;
}

#img {
  //padding-top: 4.5em;
  padding-bottom: 3.5em;
  padding-right: 0;
  padding-left: 0;
  background-color: black;
}

#video {
  padding-top: 5.5em;
  padding-bottom: 3.5em;
  background-color: black;
  padding-right: 0;
  padding-left: 0;
}

#carouselExampleIndicators {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
#home {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.caption2 {
  padding-bottom: 55%;
  color: white;
}

.startImg {
  background-color: black;
}

.startLink, .startLink:visited {
  color: white;
}

.arrowUpLink, .arrowUpLink:visited {
  color: white !important;
}
.arrowUpLink:active, .arrowUpLink:hover {
  color: grey !important;
}

.padding-Top {
  padding-top: 2em;
}

.paddingTopCopy {
  padding-top: 1em;
}

#navbar {
  font-family: Montserrat, sans-serif;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
}

.white img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

.submit-kontakt {
  background-color: black;
  color: white;
}

.padding-Top-Submit {
  padding-top: 1em;
} 

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 19px;
  }
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}