<article id="lebenslauf" class="container-fluid bg-faded">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
			<h2>LEBENSLAUF</h2>
		</div>
	</div>
		<div class="row padding-Top">
			<div class="col-5 col-sm-3 offset-sm-3 col-md-3 offset-md-3 col-lg-3 offset-lg-3 col-xl-3 offset-xl-3 text-right">
				<p>VORNAME:</p>
				<p>NACHNAME:</p>
				<p>STRASSE:</p>
				<p>PLZ:</p>
				<p>ORT:</p>
			</div>
			<div class="col-7 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
				<p>Dimitrij</p>
				<p>Schaufelberger</p>
				<p>Musterstrasse 12</p>
				<p>9999</p>
				<p>Musterstadt</p>
			</div>
		</div>
</article>  
