<article id="home" class="container-fluid bg-faded">
    <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
        <!--<ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
            </li>
        </ol>-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="startImg d-block img-fluid" src="../../assets/img/bild1.jpg" alt="Bootstrap">
                <div class="caption2 carousel-caption d-none d-md-block">
                <h2>WILLKOMMEN AUF MEINER WEBSITE</h2>
                <br>
                <a type="button" href="#impressum" class="startLink btn btn-danger">Mehr erfahren...</a>
                </div>
            </div>
        </div>
    </div>
</article>